.ga-output-block {
    background-color: var(--ga-color-bg-output-primary);
    width: 100%;
    max-height: 334px;
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.ga-output-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 19px;
    padding: 0 35px 0 38px;
}

.ga-output-img {
    max-width: 247px;
    max-height: 247px;
    width: 100%;
    height: 100%;
}

.ga-output-form {
    background-color: var(--ga-color-bg-output-secondary);
    width: 100%;
    height: 247px;
    border-radius: 6px;
    padding: 8px 16px 17px 14px;
}

.ga-output-form-title {
    margin-bottom: 19px;
    font-weight: 500;
    font-size: 20px;
    color: var(--ga-color-font-output-primary);
}

.ga-output-form-input {
    border: 1px solid var(--ga-color-border-output);
    border-radius: 4px;
    height: 40px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: var(--ga-color-font-terciary);
    font-weight: 700;
}

.ga-output-form-input p {
    margin-left: 4px;
    font-size: 16px;
    font-weight: 400;
}
    
.ga-output-form-url + p {
    color: var(--ga-color-font-output-primary);
}

@media (max-width: 768px) {
    .ga-output-container {
        flex-direction: column;
        height: 100%;
    }

    .ga-output-block {
        max-height: unset;
        height: unset;
        padding: 20px 0;
    }

    .ga-output-form-input {
        overflow-x: auto;
    }
}