.ga-home-body-main {
    padding-left: 41px;
}

.ga-home-text-block {
    margin: 27px 0px;
}

.ga-home-text-block h2 {
    font-weight: 700;
    font-size: 48px;
    color: var(--ga-color-font-secondary);
}

.ga-home-text-block p{
    font-weight: 700;
    font-size: 24px;
    color: var(--ga-color-font-terciary);

}